@font-face {
    font-family: 'Avenir LT Std';
    src: url('https://nomail.com.ua/files/eot/9a8fc5fb7aba5d3ab635261d2931a13a.eot?#iefix') format('embedded-opentype'),
        url('https://nomail.com.ua/files/woff/9a8fc5fb7aba5d3ab635261d2931a13a.woff') format('woff'),
        url('https://nomail.com.ua/files/woff2/9a8fc5fb7aba5d3ab635261d2931a13a.woff2') format('woff2');
}



* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    max-width: 1524px;
    display: flex;
    margin: 0 auto;


}

.container {
    width: 100%;
    max-width: 1170px;
    margin: 0 auto;

}

.blocks {
    width: 100%;

    /* padding: 0 50px 140px; */
}

/* <!-- ------------header-------------- --> */
.header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 60px;
}

.title {
    color: #5b5b5b;
    font-size: 17px;
    font-weight: 400;
    font-family: "Mina";



}

.title span {
    color: #a85a8a;
    font-family: "Mina";
    font-weight: 700;
}

.logo {
    display: flex;
    align-items: baseline;
}

.logo-b {
    text-align: center;
    width: 23px;
    height: 23px;
    background-color: #f5638c;
    color: #ffffff;
    font-family: Mina;
    font-size: 18px;
    font-weight: 400;
    text-transform: uppercase;
}

.logo-txt {
    color: #a1a1a0;
    font-family: Mina;
    font-size: 24px;
    font-weight: 400;
    margin-left: 14px;

}

.logo-txt span {
    color: #b84a69;
}

/* <!-- ------------security-actual-question-------------- --> */
.security-actual-question {
    display: flex;
    justify-content: space-between;
    border-radius: 3px;
    border: 1px dashed #c8c8c8;
    background-color: #fffefa;
    padding: 20px;
    position: relative;
}

.security-actual-question__txt a {
    color: #575757;
    font-family: Mina;
    font-size: 17px;
    font-weight: 400;
    text-decoration: none;
}

.close {
    position: absolute;
    right: 23px;
    top: 23px;
    width: 20px;
    height: 20px;
    opacity: 0.3;
    cursor: pointer;
}

.close:hover {
    opacity: 1;
}

.close:before,
.close:after {
    position: absolute;
    left: 15px;
    content: ' ';
    height: 20px;
    width: 2px;
    background-color: #333;
}

.close:before {
    transform: rotate(45deg);
}

.close:after {
    transform: rotate(-45deg);
}

/* -- ------------user-wallets-------------- - */

.user-wallets {}

.wallet {

    max-width: 250px;
    padding-left: 30px;
}

.wallet__name {
    color: #7b7b7c;
    font-family: Mina;
    font-size: 15px;
    font-weight: 400;
    position: relative;
    padding-left: 25px;
}

.wallet__name::before {
    content: url(./img/wallet/wallet.svg);
    top: 1px;
    left: 1px;
    position: absolute;

}

.wallet__value {
    color: #797979;
    font-family: "Avenir LT Std";
    font-size: 33px;
    font-weight: 300;
}

.wallet__value span {
    color: #a9a9aa;
    font-family: Mina;
    font-size: 12px;
    font-weight: 700;
    text-transform: uppercase;
}

.currency-rate {
    opacity: 0.6;

    font-family: "Avenir LT Std";
    font-size: 15px;
    font-weight: 300;

}

.currency-rate::after {
    content: url(./img/wallet/rate-up.svg);
    top: 1px;
    left: 1px;
    position: absolute;
}

.currency-rate span {
    opacity: 0.6;
    color: #575757;
    font-family: Mina;
    font-size: 13px;
    font-weight: 400;
    margin-left: 20px;
}

.rate-up {
    color: #00ce87;
    position: relative;
}

.rate-up::after {
    content: url(./img/wallet/rate-up.svg);
    top: -8px;
    left: 52px;
    position: absolute;
}

.rate-down {
    color: #f85656;
    position: relative;
}



/* ------------SHARED-ITEMS_______________ */

.btn {
    border-radius: 3px;
    border: 1px solid #d097b950;
    color: #d476af80;
    font-family: Mina;
    font-size: 16px;
    font-weight: 700;
    text-decoration: none;
    padding: 15px 30px;
}









/* <!-- ------------balance-history-------------- --> */


.balance-history {
    width: 100%;
    display: flex;
}

.account-balance {
    max-width: 354px;
    width: 100%;
}

.account-balance__header {
    color: #676768;
    font-family: Mina;
    font-size: 24px;
    font-weight: 400;
    padding: 30px 0 30px 30px;
}

.account-balance__data {}

.account-balance__value {}

.account-balance__status {}

.account-balance__ordered {}

/* _____________________________________________ */
.transaction-history {
    width: 100%;
}



/* <!-- ------------diagramm-feed-------------- --> */
.diagramms-feed {
    width: 100%;
    height: 575px;

    display: flex;
    justify-content: space-between;
    padding: 20px;
}

.diagramms {
    width: 50%;
    background-color: rgb(218, 162, 162);
    margin-right: 10px;
}

.feed {
    width: 50%;

    background-color: rgb(218, 162, 162);
    margin-left: 10px;
}







/* <!-- ------------footer-------------- --> */

.footer {
    width: 100%;

    height: 150px;
    background-color: #ebe9e8;
    padding: 30px;
    display: flex;
    justify-content: space-around;
}

.footer__items {}

.footer__social {}

.footer__copyrights {}



.sidebar {
    height: 100vh;
    /* position: fixed; */
    width: 150px;
    background-color: #f5638c;
}