@font-face {
    font-family: 'Avenir LT Std';
    src: url('https://nomail.com.ua/files/eot/9a8fc5fb7aba5d3ab635261d2931a13a.eot?#iefix') format('embedded-opentype'),
        url('https://nomail.com.ua/files/woff/9a8fc5fb7aba5d3ab635261d2931a13a.woff') format('woff'),
        url('https://nomail.com.ua/files/woff2/9a8fc5fb7aba5d3ab635261d2931a13a.woff2') format('woff2');
}



* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    display: flex;
    height: 1500px;


}

.page {
    width: 100%;
}

.blocks {
    width: 100%;
    padding: 0 50px 140px;
}

/* <!-- ------------header-------------- --> */
.page__header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 60px;
}

.page__title {
    color: #5b5b5b;
    font-size: 17px;
    font-weight: 400;
    font-family: "Mina";



}

.page__title span {
    color: #a85a8a;
    font-family: "Mina";
    font-weight: 700;
}

.page__logo {
    display: flex;
    align-items: baseline;
}

.page__logo-b {
    text-align: center;
    width: 23px;
    height: 23px;
    background-color: #f5638c;
    color: #ffffff;
    font-family: Mina;
    font-size: 18px;
    font-weight: 400;
    text-transform: uppercase;
}

.page__logo-txt {
    color: #a1a1a0;
    font-family: Mina;
    font-size: 24px;
    font-weight: 400;
    margin-left: 14px;

}

.page__logo-txt span {
    color: #b84a69;
}






.sidebar {
    height: 100%;
    width: 150px;
    background-color: #f5638c;
}